<!DOCTYPE html>
<html>

  <head>
    <title> CREATE ACCOUNT PAGE </title>
  </head>

  <body style="background-image: url('https://media.discordapp.net/attachments/1076599656403959931/1076682313838100511/Screenshot_2023-02-18_203840.png');">
    <h1 style="color: white;">
     Psyche Inc.
    </h1>

        <h2 style="color: white;">Please create a username and password</h2>
   <br>

   
    <form action="/create_account" method= "POST">
        <input type="text" name="username" placeholder="username">
        <input type = "password" name = "password" placeholder="password">
         <input type="submit" value="Create Account" />
     </form>
     
  </body>

</html>